@font-face {
    font-family: "Pretendard Variable";
    src:
        url("/fonts/PretendardVariable.woff2") format("woff2-variations"),
        url("/fonts/PretendardVariable.woff2") format("woff2");
    font-style: normal;
    font-weight: 45 920;
    font-display: swap;
}
@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('/fonts/Paperlogy-woff2/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}