#particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#title {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: 800;
    top: 15%;
    left: 50%;
    animation: slideUp 2s ease-out;
}

@keyframes slideUp {
    from {
        top: 25%;
        opacity: 0;
    }
    to {
        top: 15%;
        opacity: 1;
    }
}
